@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

footer {
  background-color: gainsboro;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.company-description {
  font-size: 0.825rem;
}

.footer-info {
  flex: 1;
}

.footer-links {
  display: flex;
  font-size: 0.825rem;
  flex: 1.25;
  justify-content: end;
}

.logo {
  height: 5em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 1.25em;
}

li {
  margin: 0.5em 0 0.5em 0;
}

li:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 862px){
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    justify-content: space-around;
  }
}

@media screen and (max-width: 488px) {
  .footer-info {
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}